/* Home Page */

.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;
}

.hero__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--heading-color);
}

.hero__content h1 span {
    color: var(--secondary-color);
}

.hero__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero__img-box img,
.hero__img-box video {
    height: 350px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
}

.hero__content {
    padding-top: 3.5rem;
}

.hero__img-box {
    padding-top: 2rem;
}
/* Search */
.search__bar {
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 0.5rem 1rem;
    width: max-content;
    margin-top: 50px;
}

.form__group span {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.form__group input {
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}

.form__group input:focus {
    outline: none;
}

.form__group h6 {
    margin-bottom: 0;
}

.form__group-fast {
    border-right: 2px solid lightgray;
}

.search__icon {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: white;
    border-radius: 10px 25px 25px 10px;
    cursor: pointer;
}

/* Services */
.services {
    background: #CAE5F4;
}
.services__subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--primary-color);
    font-family: var(--subtitle-font-name);
}

.services__title {
    font-size: 2.5rem;
    font-weight: 500;
}

.featured__title {
    font-size: 2.3rem;
    font-weight: 500;
}


.experience {
    background: wheat;    
}
.experience__content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience__content p {
    color: var(--text-color);
    font-size: 1.1rem;
    margin-top: 1rem;
}

.experience__img img {
    width: 90%;
}

.counter__wrapper {
    margin-top: 2.5rem;
}

.counter__box span {
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter__box h6 {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}



.gallery__title {
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.masonry__img {
    transition: .3s;
}

.masonry__img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Testimonies */
.testimonial__title {
    font-size: 2.3rem;
    margin-top: 1rem;
}

/* Newsletter */
.newsletter {
    background: #CAE5F4;
    margin-top: 3rem;
    padding: 0;
}

.newsletter__img img {
    width: 100%;
}

.newsletter__content {
    padding: 50px 0;
}

.newsletter__content h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.newsletter__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.newsletter__input input {
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.newsletter__input input:focus {
    outline: none;
}

.newsletter__btn {
    padding: 0.5rem 1.5rem !important;
    background: var(--secondary-color);
}

